<ul class="nav navbar-nav">
  <li><a href="/demo/accordion">accordion</a></li>
  <li><a href="/demo/animation">animation</a></li>
  <li><a href="/demo/patterns">backgrounds</a></li>
  <li><a href="/demo/selectors">selectors</a></li>
  <li><a href="/demo/demos">other demos</a></li>
</ul>