<% include partials/body-top.ejs %>
<div class="accordion">
  <h2>Accordion Demo</h2>
  <div id="one" class="section">
    <h3>
      <a href="#one">Heading 1</a>
    </h3>
    <div>
      <p>Content</p>
    </div>
  </div>
  <div id="two" class="section">
    <h3>
      <a href="#two">Heading 2</a>
    </h3>
    <div>
      <p>Content</p>
    </div>
  </div>
</div>
<% include partials/body-bottom.ejs %>