<% include partials/body-top.ejs %>
<div id="outerspace">
  <div class="rocket">
    <div><!-- rocket --></div>
    .rocket
  </div>#outerspace
</div>
<div class="stage">
  <div class="box">#box</div>
</div>
<div class="stage ie-box">
  <div class="box">ie box</div>
</div>
<% include partials/body-bottom.ejs %>