<% include partials/body-top.ejs %>

<ul>
  <li><a href="http://tympanus.net/Tutorials/CSS3ContentTabs/index.html">:checked pseudoclass</a></li>
  <li><a href="http://bennettfeely.com/csscreatures/">simple animations</a></li>
</ul>

<% include partials/body-bottom.ejs %>
